.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}

.sidebar img{
  width: 200px;
}

.bi{
  margin-right: 10px;
}
.Reel-page{
  height: 100px;
  background-color: antiquewhite;
}

#profilepic{
  width: 200px;
  height: 200px;
}
.card .m-3{
  width: 200px;
}

.content{
  height: inherit;
}
.dp{
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.postimg{
  width: 500px;
  height: 500px;
}

.profilepicusername{
  margin-top: 10px;
}

/* .posts {
 margin-left: 50%;  
} */